/*===== GENERAL =====*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	src: url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
 	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Lato, sans-serif;
    color: #231F20;
}

header {
    width: auto;
    padding: 20px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDBBBB;
}

.logo-cuidatge a {
    color: #90292A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

p {
    font-size: 18px;
}

main {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1600px;
}

ul {
    list-style-type: none;
}

footer {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    flex-wrap: wrap;
    background-color: #BDBBBB;
}

.logo-URV {
    width: 250px;
    height: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-URV img {
    height: auto;
    width: 250px;
}

.menu-suport {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-suport ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.menu-suport li {
    min-width: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 5px;
}

.menu-suport a {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #231F20;
}

.informacio {
    min-width: 350px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacio p {
    padding: 2px;
    font-size: 14px;
}

/*===== INDEX =====*/

.presentacio {
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
    gap: 20px;
}

.carrusel {
    flex: 1;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel img {
    width: 300px;
    height: auto;
}

.descripcio {
    flex: 1;
    min-width: 300px;
    padding: 16px;
    margin: 0 12px 0 0;
}

.descripcio h2 {
    display: flex;
    text-align: start;
    justify-content: center;
    margin-bottom: 18px;
}

.descripcio p {
    text-align: justify;
    padding-bottom: 6px;
}

.menu-cerca {
    padding-bottom: 8px;
    background-color: #90292b67;
    margin: 60px auto;
}

.menu-cerca ul,
.menu-secundari ul {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-cerca ul {
    background-color: #90292A;
}

.menu-cerca li,
.menu-secundari li {
    width: 320px;
    height: auto;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: auto;
}

.menu-cerca a,
.menu-secundari a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}

#cercador {
    margin: 12px auto;
    height: auto;
    padding: 8px 100px 8px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#cercador form {
    margin-left: 100px;
}

#cercador a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
}

#cercador button {
    background-color: #90292A;
    border: 1px solid #90292A;
}

 #cercador img {
    width: 22px;
    height: auto;
 }


.menu-secundari {
    background-color: #A4A9AD;
    margin: 60px auto;
}


.instruccions-cerca {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.instruccions-cerca h2 {

    width: 1600px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.booleans {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    text-align: start;
    margin: 18px;
}

.booleans h3,
.truncaments h3 {
    margin-bottom: 10px;
}

.truncaments {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    text-align: start;
    margin: 18px;
}

.booleans li,
.truncaments li {
    margin-bottom: 5px;
}

 /*===== CERCA =====*/

 .base-de-dades {
    display: flex;
    gap: 36px;
    margin-bottom: 60px;
 }

 .filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #000000;
    margin-left: 12px;
 }

 .filtres h2 {
    padding: 15px;
 }

 .filtres h3 {
    margin: 20px 0 5px 0;
    padding: 10px;
 }

 .filtres h4 {
    padding: 5px 0 0 10px;
 }

 .filtres li {
    margin: 5px 0 5px 0;
    padding: 10px;
 }

 .resultats {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #000000;
 }

 .presentacio-resultats {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 .presentacio-resultats div {
    display: flex;
    border: 1px solid #000000;
 }


 .resultats h2 {
    padding: 15px;
 }

 .presentacio-resultats p {
    padding: 5px 60px 5px 5px;
 }

 .resultats-cerca {
    border-top: 1px solid #000000;
 }

 .resultats-cerca input {
    margin-left: -15px;
 }

 .resultats-cerca li {
    padding-left: 40px;
 }

 .resultats-cerca ul {
    margin: 20px;
 }

 .resultats-cerca a {
    text-decoration: none;
    color: #90292A;
 }

.numero-pagines {
    margin: 40px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.numero-pagines img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: auto;
}

.numero-pagines a {
    text-decoration: none;
    color: #231F20;
}

.numero-pagines ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.numero-pagines li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 5px;
    font-size: 18px;
}


 /*===== FITXA BIBLIOGRÀFICA =====*/

 .fletxa-torna-cerca {
    margin: 3% 0 3% 5%;
 }

 .fletxa-torna-cerca img {
    width: 50px;
    height: auto;
 }

 .fitxa {
    margin: 0 5% 5% 5%;
    border: 1px solid #000000;
    padding-bottom: 3%;

 }

 .fitxa h2 {
    margin: 2% 4% 2% 4%;
    padding: 1%;
 }

 .fitxa li {
    margin: 1% 4% 1% 6%;
    padding: 1%;
    text-align: justify;
 }

 .fitxa a {
    text-decoration: none;
    color:#90292A;
 }
